h1 {
    color:#e4d47f;
    font-family: 'Noto Sans JP', sans-serif;
}

h2 {
    color:rgba(0,0,0,0.5);
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    color: #89c8e4;
    font-family: Roboto;
}
