body {
    background: rgb(121, 221, 221);
    font-family: 'Noto Sans JP', sans-serif;
}

.container{
    background: rgb(255, 255, 255);
}

.pullquote{
    color:blueviolet
}

div {
    padding: 20px 40px
}

.flex-container{
    display: flex;
    flex-direction: crow;
    height: 100%;
}

.column-english{
    width:50%;
    background-color: coral;
    padding: 20px 40px;
}

.column-spanish{
    width:50%;
    background-color: rgb(177, 92, 61);
    padding: 20px 40px;
}