

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: papayawhip;
    min-height: 100vh;
}


main, header, footer {
    padding: 20px;
    color : #141414
}


.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    line-height: 60px;
}

main {
    flex: 1;
    overflow: auto;
}

.M_images {
    width: 600px;
}

.S_images {
    width: 300px;
}
